logs/semantic_kitti/config.py
logs/semantic_kitti/csv_logs/version_0/hparams.yaml
output/ckpts/version_0/epoch_epoch=000-mIoU=val/mIoU=0.1262.ckpt
output/ckpts/version_0/epoch_epoch=001-mIoU=val/mIoU=0.1662.ckpt
output/ckpts/version_0/epoch_epoch=002-mIoU=val/mIoU=0.1710.ckpt
output/ckpts/version_0/epoch_epoch=003-mIoU=val/mIoU=0.1709.ckpt
output/ckpts/version_0/epoch_epoch=004-mIoU=val/mIoU=0.1704.ckpt
output/ckpts/version_0/epoch_epoch=005-mIoU=val/mIoU=0.1702.ckpt
output/ckpts/version_0/epoch_epoch=006-mIoU=val/mIoU=0.1693.ckpt
output/ckpts/version_0/epoch_epoch=007-mIoU=val/mIoU=0.1689.ckpt
output/ckpts/version_0/epoch_epoch=008-mIoU=val/mIoU=0.1687.ckpt
output/ckpts/version_0/epoch_epoch=009-mIoU=val/mIoU=0.1685.ckpt
output/ckpts/version_0/epoch_epoch=010-mIoU=val/mIoU=0.1681.ckpt
output/ckpts/version_0/epoch_epoch=011-mIoU=val/mIoU=0.1682.ckpt
output/ckpts/version_0/epoch_epoch=012-mIoU=val/mIoU=0.1680.ckpt
output/ckpts/version_0/epoch_epoch=013-mIoU=val/mIoU=0.1680.ckpt
output/ckpts/version_1/epoch_epoch=000-mIoU=val/mIoU=0.1198.ckpt
output/ckpts/version_1/epoch_epoch=001-mIoU=val/mIoU=0.1544.ckpt
output/ckpts/version_1/epoch_epoch=002-mIoU=val/mIoU=0.1718.ckpt
output/ckpts/version_1/epoch_epoch=003-mIoU=val/mIoU=0.1728.ckpt
output/ckpts/version_1/epoch_epoch=004-mIoU=val/mIoU=0.1724.ckpt
output/ckpts/version_1/epoch_epoch=005-mIoU=val/mIoU=0.1719.ckpt
output/ckpts/version_2/epoch_epoch=000-mIoU=val/mIoU=0.1220.ckpt
output/ckpts/version_2/epoch_epoch=001-mIoU=val/mIoU=0.1598.ckpt
output/ckpts/version_2/epoch_epoch=002-mIoU=val/mIoU=0.1725.ckpt
output/ckpts/version_2/epoch_epoch=003-mIoU=val/mIoU=0.1727.ckpt
output/ckpts/version_2/epoch_epoch=004-mIoU=val/mIoU=0.1727.ckpt
output/ckpts/version_2/epoch_epoch=005-mIoU=val/mIoU=0.1717.ckpt
output/csv_logs/version_0/hparams.yaml
output/csv_logs/version_0/metrics.csv
output/csv_logs/version_1/hparams.yaml
output/csv_logs/version_1/metrics.csv
output/csv_logs/version_2/hparams.yaml
output/csv_logs/version_2/metrics.csv
output/tensorboard/CGFormer/events.out.tfevents.1707886866.kemove.658129.0
output/tensorboard/plus_conv/events.out.tfevents.1739306619.i6-gpu-1.147972.0
output/tensorboard/plus_conv/hparams.yaml
output/tensorboard/plus_conv_1/events.out.tfevents.1739461044.i6-gpu-1.375859.0
output/tensorboard/plus_conv_1/hparams.yaml
output/tensorboard/version_0/events.out.tfevents.1739982969.i6-gpu-1.1213165.0
output/tensorboard/version_0/hparams.yaml
output/tensorboard/version_1/events.out.tfevents.1740070715.i6-gpu-1.1477619.0
output/tensorboard/version_1/hparams.yaml
output/tensorboard/version_2/events.out.tfevents.1740256680.i6-gpu-1.1640750.0
output/tensorboard/version_2/hparams.yaml
output_new/ckpts/CGFormer_aspp_plus_v1_conv/epoch_epoch=000-mIoU=val/mIoU=0.1267.ckpt
output_new/ckpts/CGFormer_aspp_plus_v1_conv/epoch_epoch=001-mIoU=val/mIoU=0.1639.ckpt
output_new/ckpts/CGFormer_aspp_plus_v1_conv/epoch_epoch=002-mIoU=val/mIoU=0.1702.ckpt
output_new/ckpts/CGFormer_aspp_plus_v1_conv/epoch_epoch=003-mIoU=val/mIoU=0.1708.ckpt
output_new/ckpts/CGFormer_aspp_plus_v1_conv/epoch_epoch=004-mIoU=val/mIoU=0.1698.ckpt
output_new/ckpts/CGFormer_aspp_plus_v1_conv/epoch_epoch=005-mIoU=val/mIoU=0.1690.ckpt
output_new/ckpts/CGFormer_aspp_plus_v1_conv/epoch_epoch=006-mIoU=val/mIoU=0.1687.ckpt
output_new/ckpts/CGFormer_aspp_plus_v1_conv/epoch_epoch=007-mIoU=val/mIoU=0.1685.ckpt
output_new/ckpts/CGFormer_aspp_plus_v1_conv/epoch_epoch=008-mIoU=val/mIoU=0.1688.ckpt
output_new/ckpts/CGFormer_aspp_plus_v1_conv/epoch_epoch=009-mIoU=val/mIoU=0.1681.ckpt
output_new/ckpts/CGFormer_aspp_plus_v2_conv/epoch_epoch=000-mIoU=val/mIoU=0.1130.ckpt
output_new/ckpts/CGFormer_aspp_plus_v2_conv/epoch_epoch=001-mIoU=val/mIoU=0.1417.ckpt
output_new/ckpts/CGFormer_aspp_plus_v2_conv/epoch_epoch=002-mIoU=val/mIoU=0.1689.ckpt
output_new/ckpts/CGFormer_aspp_plus_v2_conv/epoch_epoch=003-mIoU=val/mIoU=0.1712.ckpt
output_new/ckpts/CGFormer_aspp_plus_v2_conv/epoch_epoch=004-mIoU=val/mIoU=0.1705.ckpt
output_new/ckpts/CGFormer_aspp_plus_v2_conv/epoch_epoch=005-mIoU=val/mIoU=0.1701.ckpt
output_new/ckpts/CGFormer_aspp_plus_v2_conv/epoch_epoch=006-mIoU=val/mIoU=0.1686.ckpt
output_new/ckpts/CGFormer_aspp_plus_v2_conv/epoch_epoch=007-mIoU=val/mIoU=0.1683.ckpt
output_new/ckpts/CGFormer_aspp_plus_v2_conv/epoch_epoch=008-mIoU=val/mIoU=0.1682.ckpt
output_new/ckpts/CGFormer_aspp_plus_v2_conv/epoch_epoch=009-mIoU=val/mIoU=0.1680.ckpt
output_new/ckpts/CGFormer_pna_plus_v1_conv/epoch_epoch=000-mIoU=val/mIoU=0.1184.ckpt
output_new/ckpts/CGFormer_pna_plus_v1_conv/epoch_epoch=001-mIoU=val/mIoU=0.1538.ckpt
output_new/ckpts/CGFormer_pna_plus_v1_conv/epoch_epoch=002-mIoU=val/mIoU=0.1726.ckpt
output_new/ckpts/CGFormer_pna_plus_v1_conv/epoch_epoch=003-mIoU=val/mIoU=0.1733.ckpt
output_new/ckpts/CGFormer_pna_plus_v1_conv/epoch_epoch=004-mIoU=val/mIoU=0.1722.ckpt
output_new/ckpts/CGFormer_pna_plus_v1_conv/epoch_epoch=005-mIoU=val/mIoU=0.1711.ckpt
output_new/ckpts/CGFormer_pna_plus_v1_conv/epoch_epoch=006-mIoU=val/mIoU=0.1703.ckpt
output_new/ckpts/CGFormer_pna_plus_v1_conv/epoch_epoch=007-mIoU=val/mIoU=0.1706.ckpt
output_new/ckpts/CGFormer_pna_plus_v1_conv/epoch_epoch=008-mIoU=val/mIoU=0.1704.ckpt
output_new/ckpts/CGFormer_pna_plus_v1_conv/epoch_epoch=009-mIoU=val/mIoU=0.1703.ckpt
output_new/ckpts/CGFormer_pna_plus_v2_conv/epoch_epoch=000-mIoU=val/mIoU=0.1015.ckpt
output_new/ckpts/CGFormer_pna_plus_v2_conv/epoch_epoch=001-mIoU=val/mIoU=0.1291.ckpt
output_new/ckpts/CGFormer_pna_plus_v2_conv/epoch_epoch=002-mIoU=val/mIoU=0.1580.ckpt
output_new/ckpts/CGFormer_pna_plus_v2_conv/epoch_epoch=003-mIoU=val/mIoU=0.1720.ckpt
output_new/ckpts/CGFormer_pna_plus_v2_conv/epoch_epoch=004-mIoU=val/mIoU=0.1715.ckpt
output_new/ckpts/CGFormer_pna_plus_v2_conv/epoch_epoch=005-mIoU=val/mIoU=0.1704.ckpt
output_new/ckpts/CGFormer_pna_plus_v2_conv/epoch_epoch=006-mIoU=val/mIoU=0.1697.ckpt
output_new/ckpts/CGFormer_pna_plus_v2_conv/epoch_epoch=007-mIoU=val/mIoU=0.1692.ckpt
output_new/ckpts/CGFormer_pna_plus_v2_conv/epoch_epoch=008-mIoU=val/mIoU=0.1690.ckpt
output_new/ckpts/CGFormer_pna_plus_v2_conv/epoch_epoch=009-mIoU=val/mIoU=0.1688.ckpt
output_new/ckpts/CGFormer_small_plus_v1_conv/epoch_epoch=000-mIoU=val/mIoU=0.1298.ckpt
output_new/ckpts/CGFormer_small_plus_v1_conv/epoch_epoch=001-mIoU=val/mIoU=0.1660.ckpt
output_new/ckpts/CGFormer_small_plus_v1_conv/epoch_epoch=002-mIoU=val/mIoU=0.1709.ckpt
output_new/ckpts/CGFormer_small_plus_v1_conv/epoch_epoch=003-mIoU=val/mIoU=0.1711.ckpt
output_new/ckpts/CGFormer_small_plus_v1_conv/epoch_epoch=004-mIoU=val/mIoU=0.1702.ckpt
output_new/ckpts/CGFormer_small_plus_v1_conv/epoch_epoch=005-mIoU=val/mIoU=0.1703.ckpt
output_new/ckpts/CGFormer_small_plus_v2_conv/epoch_epoch=000-mIoU=val/mIoU=0.1188.ckpt
output_new/ckpts/CGFormer_small_plus_v2_conv/epoch_epoch=001-mIoU=val/mIoU=0.1583.ckpt
output_new/ckpts/CGFormer_small_plus_v2_conv/epoch_epoch=002-mIoU=val/mIoU=0.1707.ckpt
output_new/ckpts/CGFormer_small_plus_v2_conv/epoch_epoch=003-mIoU=val/mIoU=0.1714.ckpt
output_new/ckpts/CGFormer_small_plus_v2_conv/epoch_epoch=004-mIoU=val/mIoU=0.1700.ckpt
output_new/ckpts/CGFormer_small_plus_v2_conv/epoch_epoch=005-mIoU=val/mIoU=0.1702.ckpt
output_new/ckpts/MonoScene_pna_plus_v2_conv/epoch_epoch=000-mIoU=val/mIoU=0.0823.ckpt
output_new/ckpts/MonoScene_pna_plus_v2_conv/epoch_epoch=001-mIoU=val/mIoU=0.0971.ckpt
output_new/ckpts/MonoScene_pna_plus_v2_conv/epoch_epoch=002-mIoU=val/mIoU=0.1063.ckpt
output_new/ckpts/MonoScene_pna_plus_v2_conv/epoch_epoch=003-mIoU=val/mIoU=0.1151.ckpt
output_new/ckpts/MonoScene_pna_plus_v2_conv/epoch_epoch=004-mIoU=val/mIoU=0.1155.ckpt
output_new/ckpts/MonoScene_pna_plus_v2_conv/epoch_epoch=005-mIoU=val/mIoU=0.1146.ckpt
output_new/ckpts/MonoScene_small_plus_v1_conv/epoch_epoch=000-mIoU=val/mIoU=0.0897.ckpt
output_new/ckpts/MonoScene_small_plus_v1_conv/epoch_epoch=001-mIoU=val/mIoU=0.1063.ckpt
output_new/ckpts/MonoScene_small_plus_v1_conv/epoch_epoch=002-mIoU=val/mIoU=0.1133.ckpt
output_new/ckpts/MonoScene_small_plus_v1_conv/epoch_epoch=003-mIoU=val/mIoU=0.1136.ckpt
output_new/ckpts/MonoScene_small_plus_v1_conv/epoch_epoch=004-mIoU=val/mIoU=0.1143.ckpt
output_new/ckpts/MonoScene_small_plus_v1_conv/epoch_epoch=005-mIoU=val/mIoU=0.1136.ckpt
output_new/ckpts/MonoScene_vqvae/epoch_epoch=000-mIoU=val/mIoU=0.0346.ckpt
output_new/ckpts/MonoScene_vqvae/epoch_epoch=001-mIoU=val/mIoU=0.0623.ckpt
output_new/ckpts/MonoScene_vqvae/epoch_epoch=002-mIoU=val/mIoU=0.0740.ckpt
output_new/ckpts/MonoScene_vqvae/epoch_epoch=003-mIoU=val/mIoU=0.0824.ckpt
output_new/ckpts/MonoScene_vqvae/epoch_epoch=004-mIoU=val/mIoU=0.0813.ckpt
output_new/ckpts/MonoScene_vqvae/epoch_epoch=005-mIoU=val/mIoU=0.0888.ckpt
output_new/ckpts/version_0/epoch_epoch=000-mIoU=val/mIoU=0.1241.ckpt
output_new/ckpts/version_0/epoch_epoch=001-mIoU=val/mIoU=0.1513.ckpt
output_new/ckpts/version_0/epoch_epoch=002-mIoU=val/mIoU=0.1693.ckpt
output_new/ckpts/version_0/epoch_epoch=003-mIoU=val/mIoU=0.1714.ckpt
output_new/ckpts/version_0/epoch_epoch=004-mIoU=val/mIoU=0.1700.ckpt
output_new/csv_logs/CGFormer_aspp_plus_v1_conv/hparams.yaml
output_new/csv_logs/CGFormer_aspp_plus_v1_conv/metrics.csv
output_new/csv_logs/CGFormer_aspp_plus_v2_conv/hparams.yaml
output_new/csv_logs/CGFormer_aspp_plus_v2_conv/metrics.csv
output_new/csv_logs/CGFormer_pna_plus_v1_conv/hparams.yaml
output_new/csv_logs/CGFormer_pna_plus_v1_conv/metrics.csv
output_new/csv_logs/CGFormer_pna_plus_v2_conv/hparams.yaml
output_new/csv_logs/CGFormer_pna_plus_v2_conv/metrics.csv
output_new/csv_logs/CGFormer_small_plus_v1_conv/hparams.yaml
output_new/csv_logs/CGFormer_small_plus_v1_conv/metrics.csv
output_new/csv_logs/CGFormer_small_plus_v2_conv/hparams.yaml
output_new/csv_logs/CGFormer_small_plus_v2_conv/metrics.csv
output_new/csv_logs/MonoScene_pna_plus_v2_conv/hparams.yaml
output_new/csv_logs/MonoScene_pna_plus_v2_conv/metrics.csv
output_new/csv_logs/MonoScene_small_plus_v1_conv/hparams.yaml
output_new/csv_logs/MonoScene_small_plus_v1_conv/metrics.csv
output_new/csv_logs/MonoScene_vqvae/hparams.yaml
output_new/csv_logs/MonoScene_vqvae/metrics.csv
output_new/csv_logs/version_0/hparams.yaml
output_new/csv_logs/version_0/metrics.csv
output_new/tensorboard/CGFormer/events.out.tfevents.1707886866.kemove.658129.0
output_new/tensorboard/CGFormer_aspp_plus_v1_conv/events.out.tfevents.1741119188.i6-gpu-1.2755850.0
output_new/tensorboard/CGFormer_aspp_plus_v1_conv/hparams.yaml
output_new/tensorboard/CGFormer_aspp_plus_v2_conv/events.out.tfevents.1741018552.i6-gpu-1.2633020.0
output_new/tensorboard/CGFormer_aspp_plus_v2_conv/hparams.yaml
output_new/tensorboard/CGFormer_pna_plus_v1_conv/events.out.tfevents.1740905978.i6-gpu-1.2549776.0
output_new/tensorboard/CGFormer_pna_plus_v1_conv/hparams.yaml
output_new/tensorboard/CGFormer_pna_plus_v2_conv/events.out.tfevents.1740865465.i6-gpu-1.2532966.0
output_new/tensorboard/CGFormer_pna_plus_v2_conv/hparams.yaml
output_new/tensorboard/CGFormer_small_plus_v1_conv/events.out.tfevents.1740401007.i6-gpu-1.1902924.0
output_new/tensorboard/CGFormer_small_plus_v1_conv/hparams.yaml
output_new/tensorboard/CGFormer_small_plus_v2_conv/events.out.tfevents.1740423463.i6-gpu-1.2038643.0
output_new/tensorboard/CGFormer_small_plus_v2_conv/hparams.yaml
output_new/tensorboard/MonoScene_pna_plus_v2_conv/events.out.tfevents.1740521652.i6-gpu-1.2167649.0
output_new/tensorboard/MonoScene_pna_plus_v2_conv/hparams.yaml
output_new/tensorboard/MonoScene_small_plus_v1_conv/events.out.tfevents.1740499661.i6-gpu-1.2150893.0
output_new/tensorboard/MonoScene_small_plus_v1_conv/hparams.yaml
output_new/tensorboard/MonoScene_vqvae/events.out.tfevents.1740579851.i6-gpu-1.2233613.0
output_new/tensorboard/MonoScene_vqvae/hparams.yaml
output_new/tensorboard/version_0/events.out.tfevents.1741202865.i6-gpu-1.2788903.0
output_new/tensorboard/version_0/hparams.yaml
ckpts/resnet50-19c8e357.pth
output_new/ckpts/CGFormer_cvae_plus_v2_conv/epoch_epoch=000-mIoU=val/mIoU=0.1241.ckpt
output_new/ckpts/CGFormer_cvae_plus_v2_conv/epoch_epoch=001-mIoU=val/mIoU=0.1513.ckpt
output_new/ckpts/CGFormer_cvae_plus_v2_conv/epoch_epoch=002-mIoU=val/mIoU=0.1693.ckpt
output_new/ckpts/CGFormer_cvae_plus_v2_conv/epoch_epoch=003-mIoU=val/mIoU=0.1714.ckpt
output_new/ckpts/CGFormer_cvae_plus_v2_conv/epoch_epoch=004-mIoU=val/mIoU=0.1700.ckpt
output_new/ckpts/CGFormer_cvae_plus_v2_conv/epoch_epoch=005-mIoU=val/mIoU=0.1688.ckpt
output_new/ckpts/CGFormer_cvae_plus_v2_conv/epoch_epoch=006-mIoU=val/mIoU=0.1686.ckpt
output_new/ckpts/CGFormer_cvae_plus_v2_conv/epoch_epoch=007-mIoU=val/mIoU=0.1651.ckpt
output_new/ckpts/CGFormer_cvae_plus_v2_conv/epoch_epoch=008-mIoU=val/mIoU=0.1653.ckpt
output_new/ckpts/CGFormer_cvae_plus_v2_conv/epoch_epoch=009-mIoU=val/mIoU=0.1653.ckpt
output_new/csv_logs/CGFormer_cvae_plus_v2_conv/hparams.yaml
output_new/csv_logs/CGFormer_cvae_plus_v2_conv/metrics.csv
output_new/tensorboard/CGFormer_cvae_plus_v2_conv/events.out.tfevents.1741202865.i6-gpu-1.2788903.0
output_new/tensorboard/CGFormer_cvae_plus_v2_conv/hparams.yaml
output_new/tensorboard/version_0/events.out.tfevents.1741264243.i6-gpu-1.2843497.0
a_tmp/csv_logs/version_0/hparams.yaml
a_tmp/tensorboard/version_0/events.out.tfevents.1741444101.i6-gpu-1.3132101.0
a_tmp/tensorboard/version_0/hparams.yaml
output_new/ckpts/CGFormer_cvae_concat_v2_conv/epoch_epoch=000-mIoU=val/mIoU=0.1194.ckpt
output_new/ckpts/CGFormer_cvae_concat_v2_conv/epoch_epoch=001-mIoU=val/mIoU=0.1372.ckpt
output_new/ckpts/CGFormer_cvae_concat_v2_conv/epoch_epoch=002-mIoU=val/mIoU=0.1565.ckpt
output_new/ckpts/CGFormer_cvae_concat_v2_conv/epoch_epoch=003-mIoU=val/mIoU=0.1681.ckpt
output_new/ckpts/CGFormer_cvae_concat_v2_conv/epoch_epoch=004-mIoU=val/mIoU=0.1675.ckpt
output_new/ckpts/CGFormer_cvae_concat_v2_conv/epoch_epoch=005-mIoU=val/mIoU=0.1685.ckpt
output_new/ckpts/CGFormer_pna_335_concat_v1_conv/epoch_epoch=000-mIoU=val/mIoU=0.1298.ckpt
output_new/ckpts/CGFormer_pna_335_concat_v1_conv/epoch_epoch=001-mIoU=val/mIoU=0.1672.ckpt
output_new/ckpts/CGFormer_pna_335_concat_v1_conv/epoch_epoch=002-mIoU=val/mIoU=0.1725.ckpt
output_new/ckpts/CGFormer_pna_335_concat_v1_conv/epoch_epoch=003-mIoU=val/mIoU=0.1735.ckpt
output_new/ckpts/CGFormer_pna_335_concat_v1_conv/epoch_epoch=004-mIoU=val/mIoU=0.1723.ckpt
output_new/ckpts/CGFormer_pna_335_concat_v1_conv/epoch_epoch=005-mIoU=val/mIoU=0.1716.ckpt
output_new/ckpts/CGFormer_pna_335_concat_v1_conv/epoch_epoch=006-mIoU=val/mIoU=0.1702.ckpt
output_new/ckpts/CGFormer_pna_335_concat_v1_conv/epoch_epoch=007-mIoU=val/mIoU=0.1706.ckpt
output_new/ckpts/CGFormer_pna_335_concat_v1_conv/epoch_epoch=008-mIoU=val/mIoU=0.1693.ckpt
output_new/ckpts/CGFormer_pna_335_concat_v1_conv/epoch_epoch=009-mIoU=val/mIoU=0.1699.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v1_conv/epoch_epoch=000-mIoU=val/mIoU=0.1184.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v1_conv/epoch_epoch=001-mIoU=val/mIoU=0.1538.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v1_conv/epoch_epoch=002-mIoU=val/mIoU=0.1726.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v1_conv/epoch_epoch=003-mIoU=val/mIoU=0.1733.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v1_conv/epoch_epoch=004-mIoU=val/mIoU=0.1722.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v1_conv/epoch_epoch=005-mIoU=val/mIoU=0.1711.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v1_conv/epoch_epoch=006-mIoU=val/mIoU=0.1703.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v1_conv/epoch_epoch=007-mIoU=val/mIoU=0.1706.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v1_conv/epoch_epoch=008-mIoU=val/mIoU=0.1704.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v1_conv/epoch_epoch=009-mIoU=val/mIoU=0.1703.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v2_conv/epoch_epoch=000-mIoU=val/mIoU=0.1015.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v2_conv/epoch_epoch=001-mIoU=val/mIoU=0.1291.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v2_conv/epoch_epoch=002-mIoU=val/mIoU=0.1580.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v2_conv/epoch_epoch=003-mIoU=val/mIoU=0.1720.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v2_conv/epoch_epoch=004-mIoU=val/mIoU=0.1715.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v2_conv/epoch_epoch=005-mIoU=val/mIoU=0.1704.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v2_conv/epoch_epoch=006-mIoU=val/mIoU=0.1697.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v2_conv/epoch_epoch=007-mIoU=val/mIoU=0.1692.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v2_conv/epoch_epoch=008-mIoU=val/mIoU=0.1690.ckpt
output_new/ckpts/CGFormer_pna_355_plus_v2_conv/epoch_epoch=009-mIoU=val/mIoU=0.1688.ckpt
output_new/ckpts/MonoScene_aspp_plus_v2_conv/epoch_epoch=000-mIoU=val/mIoU=0.1063.ckpt
output_new/ckpts/MonoScene_aspp_plus_v2_conv/epoch_epoch=001-mIoU=val/mIoU=0.1156.ckpt
output_new/ckpts/MonoScene_aspp_plus_v2_conv/epoch_epoch=002-mIoU=val/mIoU=0.1141.ckpt
output_new/ckpts/MonoScene_aspp_plus_v2_conv/epoch_epoch=003-mIoU=val/mIoU=0.1137.ckpt
output_new/ckpts/MonoScene_aspp_plus_v2_conv/epoch_epoch=004-mIoU=val/mIoU=0.1142.ckpt
output_new/ckpts/MonoScene_aspp_plus_v2_conv/epoch_epoch=005-mIoU=val/mIoU=0.1143.ckpt
output_new/ckpts/MonoScene_aspp_plus_v2_conv/epoch_epoch=006-mIoU=val/mIoU=0.1148.ckpt
output_new/ckpts/MonoScene_aspp_plus_v2_conv/epoch_epoch=007-mIoU=val/mIoU=0.1153.ckpt
output_new/ckpts/MonoScene_aspp_plus_v2_conv/epoch_epoch=008-mIoU=val/mIoU=0.1146.ckpt
output_new/ckpts/MonoScene_aspp_plus_v2_conv/epoch_epoch=009-mIoU=val/mIoU=0.1157.ckpt
output_new/csv_logs/CGFormer_cvae_concat_v2_conv/hparams.yaml
output_new/csv_logs/CGFormer_cvae_concat_v2_conv/metrics.csv
output_new/csv_logs/CGFormer_pna_335_concat_v1_conv/hparams.yaml
output_new/csv_logs/CGFormer_pna_335_concat_v1_conv/metrics.csv
output_new/csv_logs/CGFormer_pna_355_plus_v1_conv/hparams.yaml
output_new/csv_logs/CGFormer_pna_355_plus_v1_conv/metrics.csv
output_new/csv_logs/CGFormer_pna_355_plus_v2_conv/hparams.yaml
output_new/csv_logs/CGFormer_pna_355_plus_v2_conv/metrics.csv
output_new/csv_logs/MonoScene_aspp_plus_v2_conv/hparams.yaml
output_new/csv_logs/MonoScene_aspp_plus_v2_conv/metrics.csv
output_new/tensorboard/CGFormer_cvae_concat_v2_conv/events.out.tfevents.1741336969.i6-gpu-1.3067066.0
output_new/tensorboard/CGFormer_cvae_concat_v2_conv/hparams.yaml
output_new/tensorboard/CGFormer_pna_335_concat_v1_conv/events.out.tfevents.1741444209.i6-gpu-1.3132442.0
output_new/tensorboard/CGFormer_pna_335_concat_v1_conv/hparams.yaml
output_new/tensorboard/CGFormer_pna_355_plus_v1_conv/events.out.tfevents.1740905978.i6-gpu-1.2549776.0
output_new/tensorboard/CGFormer_pna_355_plus_v1_conv/hparams.yaml
output_new/tensorboard/CGFormer_pna_355_plus_v2_conv/events.out.tfevents.1740865465.i6-gpu-1.2532966.0
output_new/tensorboard/CGFormer_pna_355_plus_v2_conv/hparams.yaml
output_new/tensorboard/MonoScene_aspp_plus_v2_conv/events.out.tfevents.1741392609.i6-gpu-1.3104520.0
output_new/tensorboard/MonoScene_aspp_plus_v2_conv/hparams.yaml
output_new/tensorboard/version_0/events.out.tfevents.1741551759.i6-gpu-1.3196636.0
ckpts/demo_e200.bak
ckpts/demo_e200.ckpt
