logs/semantic_kitti/config.py
logs/semantic_kitti/csv_logs/version_0/hparams.yaml
output/ckpts/version_0/epoch_epoch=000-mIoU=val/mIoU=0.1262.ckpt
output/ckpts/version_0/epoch_epoch=001-mIoU=val/mIoU=0.1662.ckpt
output/ckpts/version_0/epoch_epoch=002-mIoU=val/mIoU=0.1710.ckpt
output/ckpts/version_0/epoch_epoch=003-mIoU=val/mIoU=0.1709.ckpt
output/ckpts/version_0/epoch_epoch=004-mIoU=val/mIoU=0.1704.ckpt
output/ckpts/version_0/epoch_epoch=005-mIoU=val/mIoU=0.1702.ckpt
output/ckpts/version_0/epoch_epoch=006-mIoU=val/mIoU=0.1693.ckpt
output/ckpts/version_0/epoch_epoch=007-mIoU=val/mIoU=0.1689.ckpt
output/ckpts/version_0/epoch_epoch=008-mIoU=val/mIoU=0.1687.ckpt
output/ckpts/version_0/epoch_epoch=009-mIoU=val/mIoU=0.1685.ckpt
output/ckpts/version_0/epoch_epoch=010-mIoU=val/mIoU=0.1681.ckpt
output/ckpts/version_0/epoch_epoch=011-mIoU=val/mIoU=0.1682.ckpt
output/ckpts/version_0/epoch_epoch=012-mIoU=val/mIoU=0.1680.ckpt
output/ckpts/version_0/epoch_epoch=013-mIoU=val/mIoU=0.1680.ckpt
output/ckpts/version_1/epoch_epoch=000-mIoU=val/mIoU=0.1198.ckpt
output/ckpts/version_1/epoch_epoch=001-mIoU=val/mIoU=0.1544.ckpt
output/ckpts/version_1/epoch_epoch=002-mIoU=val/mIoU=0.1718.ckpt
output/ckpts/version_1/epoch_epoch=003-mIoU=val/mIoU=0.1728.ckpt
output/ckpts/version_1/epoch_epoch=004-mIoU=val/mIoU=0.1724.ckpt
output/ckpts/version_1/epoch_epoch=005-mIoU=val/mIoU=0.1719.ckpt
output/ckpts/version_2/epoch_epoch=000-mIoU=val/mIoU=0.1220.ckpt
output/ckpts/version_2/epoch_epoch=001-mIoU=val/mIoU=0.1598.ckpt
output/ckpts/version_2/epoch_epoch=002-mIoU=val/mIoU=0.1725.ckpt
output/ckpts/version_2/epoch_epoch=003-mIoU=val/mIoU=0.1727.ckpt
output/ckpts/version_2/epoch_epoch=004-mIoU=val/mIoU=0.1727.ckpt
output/ckpts/version_2/epoch_epoch=005-mIoU=val/mIoU=0.1717.ckpt
output/csv_logs/version_0/hparams.yaml
output/csv_logs/version_0/metrics.csv
output/csv_logs/version_1/hparams.yaml
output/csv_logs/version_1/metrics.csv
output/csv_logs/version_2/hparams.yaml
output/csv_logs/version_2/metrics.csv
output/tensorboard/CGFormer/events.out.tfevents.1707886866.kemove.658129.0
output/tensorboard/plus_conv/events.out.tfevents.1739306619.i6-gpu-1.147972.0
output/tensorboard/plus_conv/hparams.yaml
output/tensorboard/plus_conv_1/events.out.tfevents.1739461044.i6-gpu-1.375859.0
output/tensorboard/plus_conv_1/hparams.yaml
output/tensorboard/version_0/events.out.tfevents.1739982969.i6-gpu-1.1213165.0
output/tensorboard/version_0/hparams.yaml
output/tensorboard/version_1/events.out.tfevents.1740070715.i6-gpu-1.1477619.0
output/tensorboard/version_1/hparams.yaml
output/tensorboard/version_2/events.out.tfevents.1740256680.i6-gpu-1.1640750.0
output/tensorboard/version_2/hparams.yaml
